// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
  position: absolute;
  width: 200px;
  border: 1px solid grey;
  background-color: white;
  top: 50px;
  right: 100px;
  z-index: 1;
  padding: 15px;
}

.gear-dropdown ul {
  
}
