.section-links {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.section-links li {
  font-family: $sans-serif;
  margin: 0 5px;
}

.section-links li:last-of-type {
  font-size: 10px;
  text-transform: uppercase;
}

.section-links li:hover {
  background-color: $lightest-gray;
}

.section-links li:last-of-type:hover {
  text-decoration: underline;
  background-color: white;
}
